<body class="home_body">
  <%= form_tag search_path, method: "post" do %>

    <div  class="search_bar">
      <div class="small-6 medium-6 large-6 columns">
        <p class="search_label">- Find A Recipe -</p>
        <%= text_field_tag :term %>
      </div>
    </div>

    <div class="search_button">
        <%= submit_tag "Search", :class => "button" %>
    </div>


    <div class="small-12 medium-12 large-12 columns">
      <section class="check_boxes">
      <label class="check_label"> Peanut Free <%= check_box_tag :is_peanut_free %></label>

      <label class="check_label"> Low Carb <%= check_box_tag :is_low_carb %></label>

      <label class="check_label"> High Protein <%= check_box_tag :is_high_protein %></label>

      <label class="check_label"> Vegetarian <%= check_box_tag :is_vegetarian %></label>

      <label class="check_label"> Low Fat <%= check_box_tag :is_low_fat %></label>
      </section>
    </div>

  <% end %>
</body>
