<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%= link_to "HOME", root_path %>
  </header>
  
  <body>
    <%= yield %>
  </body>

  <footer>
    <p>Powered by <img src="https://www.edamam.com/images/logo-site-header.png"></p>
  </footer>
</html>
